[submodule "velodyne_simulator"]
	path = velodyne_simulator
	url = https://github.com/Winsleo/velodyne_simulator.git
[submodule "livox_laser_simulation"]
	path = livox_laser_simulation
	url = https://github.com/Winsleo/livox_laser_simulation.git
[submodule "scout_gazebo/worlds/gazebo_models"]
	path = scout_gazebo/worlds/gazebo_models
	url = https://github.com/Winsleo/gazebo_models.git
[submodule "livox_ros_driver"]
	path = livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
