<?xml version="1.0"?>
<robot>
    <gazebo>
        <plugin name="base_ground_truth" filename="libgazebo_ros_p3d.so">
            <alwaysOn>false</alwaysOn>
            <updateRate>100.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>base_pose_ground_truth</topicName>
            <gaussianNoise>0</gaussianNoise>
            <frameName>map</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
        <plugin name="lidar_ground_truth" filename="libgazebo_ros_p3d.so">
            <alwaysOn>false</alwaysOn>
            <updateRate>10.0</updateRate>
            <bodyName>lidar</bodyName>
            <topicName>lidar_pose_ground_truth</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>map</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
        <plugin name="imu_ground_truth" filename="libgazebo_ros_p3d.so">
            <alwaysOn>false</alwaysOn>
            <updateRate>200.0</updateRate>
            <bodyName>imu</bodyName>
            <topicName>imu_pose_ground_truth</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>map</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>
</robot>